.header-box {
	background-color:  rgb(186, 239, 255);
	padding: 10px;
	border: 1px solid #000000;
	/* width: fit-content; */
	display: flex;
	
	justify-content: space-between;
	/* text-align: end; */
	align-items: center;
	/* margin-bottom: 100px; */
}

.left_nav{
	margin-right: auto;
	/* gap: 10px; */
	/* display: flex; */
}

.right_nav{
	margin-left: auto;
	gap: 10px;
	display: flex;
}




.ss {
	/* background-color: antiquewhite; */
	padding: 10px;
	border: 1px solid #ccc;
	/* width: fit-content; */
	display: flex;
	/* width: 20%; */
	justify-content: space-between;
	/* text-align: end; */
	align-items: center;
	
}

.sosial{
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1;
}

.title {
	flex: 5;
}
.img_div{
	flex: 2;
}

.img_div img {
	max-width: 80%;
	height: auto;
	object-fit: cover;
}

.id_crtd {
	color: rgb(255, 255, 255);
	font-size: 15px;
	margin-right: 20px;
	text-align: end;
}



.page_link {
	text-decoration: none;
}


span{
	color: white;
	background-color: black;
	margin-left: 5px;
}

em {
	color: green;
}
.ul_cls {
	color: green;
	width: 200px;
	border: 1px solid black;
	padding: 5px;
	margin-top: 5px;
}

a.hovercls:hover {
	color: green;
	width: 200px;
	border: 1px solid black;
	padding: 5px;
	/* margin-top: 5px; */
}



h1 {
	text-align: center;
	color:rgb(79, 5, 158);
}

h2 {
	color: rgb(0, 0, 197);
}

h3 {
	color: rgb(161, 206, 245);
}
h4 {
	color: rgb(171, 171, 171);
}
html{
	background-color: rgb(120, 217, 247);
}

body{
	width: 80%;
	background-color: rgb(55, 156, 251);
	padding: 10px;
	margin: 5% auto;
	font-size: 25px;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	font-family: "Open Sans";
}


hr{
	background-color: rgb(255, 255, 255);
	height: 2px;
}

.p_works {
	width: 80%;
}

.icon-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px; /* Adjust size as needed */
	height: 40px;
	border-radius: 50%; /* Makes it circular */
	background-color: #0e76a8; /* LinkedIn color */
	color: white;
	text-decoration: none;
	font-size: 20px;
  }