.header-box {
	background-color: rgb(209, 209, 209);
	padding: 10px;
	border: 1px solid #ccc;
	/* width: fit-content; */
	display: flex;
	
	justify-content: space-between;
	/* text-align: end; */
	align-items: center;
	/* margin-bottom: 100px; */
}

.left_nav{
	margin-right: auto;
	/* gap: 10px; */
	/* display: flex; */
}

.right_nav{
	margin-left: auto;
	gap: 10px;
	display: flex;
}




.ss {
	/* background-color: antiquewhite; */
	padding: 10px;
	border: 1px solid #ccc;
	/* width: fit-content; */
	display: flex;
	/* width: 20%; */
	justify-content: space-between;
	/* text-align: end; */
	align-items: center;
	
}

.sosial{
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 2;
}

.title {
	flex: 5;
}
.img_div{
	flex: 2;
}

.img_div img {
	max-width: 80%;
	height: auto;
	object-fit: cover;
}

.id_crtd {
	color: rgb(70, 70, 247);
	font-size: 15px;
	margin-right: 20px;
	text-align: end;
}



.page_link {
	text-decoration: none;
}


span{
	color: white;
	background-color: black;
	margin-left: 5px;
}

em {
	color: green;
}
.ul_cls {
	color: green;
	width: 200px;
	border: 1px solid black;
	padding: 5px;
	margin-top: 5px;
}

a.hovercls:hover {
	color: green;
	width: 200px;
	border: 10px solid black;
	padding: 5px;
	margin-top: 5px;
}



h1 {
	text-align: center;
	color:rgb(79, 5, 158);
}

h2 {
	color: blue;
}

h3 {
	color: rgb(87, 135, 177);
}
h4 {
	color: rgb(105, 105, 105);
}
html{
	background-color: rgb(168, 162, 154);
}

body{
	width: 80%;
	background-color: rgb(194, 205, 215);
	padding: 10px;
	margin: 5% auto;
	font-size: 25px;
	/* display: flex; */
	align-items: center;
	justify-content: center;
}


hr{
	background-color: rgb(45, 45, 45);
	height: 2px;
}

.p_works {
	width: 80%;
}